.navbar {
  display: flex;
  flex-flow: column;
  background: transparent;
  position: relative;
}
.nav {
  display: flex;
  flex-flow: row;
  padding: 1em 2em;
  justify-content: space-between;
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  background: var(--dark);
}
.nav__brand {
  position: relative;
  font-size: 26px;
  font-weight: 600;
  color: var(--light);
}
.nav__brand::before {
  content: "Scholary";
  color: inherit;
}
.nav__brand::after {
  content: "fy";
  color: var(--primary);
  margin-left: 2px;
}
.ham__icon {
  font-size: 26px;
  font-weight: bold;
  color: var(--primary);
}
.desktop__links {
  display: none;
}
.mobile__links {
  background: var(--light);
  color: var(--dark);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 92vh;
  display: grid;
  place-content: center;
  transform: translateY(100vh);
  transform-origin: bottom;
  transition: 1s;
}
.mobile__links .x {
  position: absolute;
  bottom: 0.8em;
  right: 1.5em;
  font-size: 25px;
  color: var(--primary);
}
.center {
  width: 200px;
  text-align: center;
}
.center ul {
  height: 40vh;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  padding: unset;
  margin: unset;
  list-style: none;
  font-size: 20px;
  font-weight: 500;
}
.center ul li a:hover {
  color: var(--primary);
  transition: 0.8s;
}
.socials {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  font-size: 20px;
  color: var(--primary);
}
@media (max-width: 601px) {
  /* small screen */
}

@media (min-width: 1024px) {
  /* large screen */
  .nav {
    top: 0;
    bottom: unset;
    padding: 1em 5em;
    justify-content: unset;
  }
  .nav__brand {
    margin: auto 0;
  }
  .desktop__links {
    display: flex;
    width: 30vw;
    justify-content: space-evenly;
    margin: auto 0;
    align-items: center;
  }
  .desktop__links a {
    color: var(--light);
    font-weight: 200;
    font-size: 14px;
  }
  .desktop__links a:hover {
    color: var(--primary);
    transition: 0.8s;
    border-bottom: 2.5px solid var(--primary);
  }
  .ham__icon {
    display: none;
  }
}
